<p>stock-item works!</p>
<!-- trackBy使用trackStockByCode函數回傳值來決定如何識別個別元素。 -->
<div
  class="stock-container"
  *ngFor="let stock of stocks; index as i; trackBy: trackStockByCode"
>
  <div class="name">
    <!-- 把它當作一般JavaScript 處理並回傳字串值給UI-->
    <!-- 使用TypeScript自定義型別，必須透過stock變數而非直接存取。 -->
    {{ stock.name + "(" + stock.code + ")" }}
  </div>
  <!--[]連結運算式的值與方括號間的DOM屬性。[]是可用於元素上任何屬性以單向連結元件到UI的通用語法。  -->
  <!-- 連結DOM元素的類別屬性到運算式的值-->
  <!-- Angular將它當作一般JavaScript運算式計算並指派值給div元素的類別屬性 -->

  <!-- [class] : 屬性連結的寫法 -->
  <div
    class="price"
    [class]="stock.isPositiveChange() ? 'positive' : 'negative'"
  >
    ${{ stock.price }}
  </div>

  <!-- ngClass的寫法: -->
  <!-- <div class="price" [ngClass]="stockClasses">${{ stock.price }}</div> -->

  <!-- ngStyle的寫法: -->
  <!-- ngStyle指令連結 -->
  <!-- <div class="price" [ngStyle]="stockStyles">${{ stock.price }}</div> -->

  <!-- 使用純量版本的類別與樣式連結來新增或刪除一個特定類別/樣式，而不是全有或全無的[class]連結。-->
  <!-- 語法 : 根據運算式的真偽新增或刪除一個特定類別: [class.class-name] = "express" -->
  <!-- 若上漲則套用positive類別，若不是則刪除它 -->
  <!-- <div
    class="price"
    [class.positive]="stock.isPositiveChange()"
    [class.negative]="!stock.isPositiveChange()"
  >
    ${{ stock.price }}
  </div> -->

  <!-- 樣式連結 -->
  <!-- <div
    class="price"
    [style.background-color]="stock.isPositiveChange() ? 'green' : 'red'"
  >
    ${{ stock.price }}
  </div> -->
  <!-- 連結事件: 等號左邊的部分是要連結的事件，此例中是click事件。 -->
  <!-- 等號右邊的部分指Angular應該在事件發生時執行的模板陳述。此例中，我們想要它執行新建構的toggleFavorite函式 -->
  <!-- 使用$event存取底層DOM事件 -->
  <button (click)="toggleFavorite($event, i)" [disabled]="stock.favorite">
    Add to Favorite
  </button>

  <!-- 使用ngIf的寫法 -->
  <!-- <button (click)="toggleFavorite($event)" *ngIf="!stock.favorite">
    Add to Favorite
  </button> -->
</div>
<!-- ngSwitch -->
<!-- <div [ngSwitch]="security.type">
   <stock-item *ngSwitch="'stock'" [item]="security"></stock-item>
   <option-item *ngSwitch="'option'" [item]="security"></option-item>
   <derivative-item *ngSwitch="'derivative'" [item]="security"></derivative-item>
   <mutual-fund-item *ngSwitch="'mutual-fund'" [item]="security"></mutualfund-item>
   <unknown-item *ngSwitchDefault [item]="security"></unknown-item>
</div> -->
