<!-- <div class="product" [class]="product.isPromotion ? 'promotion' : 'normal'">
  <div>
    <img [src]="product.img" />
  </div>
  <h3>{{ product.name }}</h3>
  <h3>{{ product.price }}</h3>
  <button (click)="addToCart()">Add to Cart</button>
  <button (click)="removeFromCart()" [disabled]="cartCount === 0">
    Remove from Cart
  </button>
  <button (click)="removeFromCart()" *ngIf="cartCount > 0">
    Remove from Cart
  </button>
  <select id="my-number">
    <option [value]="qty" *ngFor="let qty of quantities">{{qty}}</option>
  </select>
</div>
<div class="cart">數量{{ cartCount }}</div> -->

<!-- <app-product-component [product]="product" *ngFor="let product of products; index as i"></app-product-component> -->
